pkgbase = touchctl-git
	pkgdesc = Touch control
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.r3.g830ea572a4e34052f7b5f675390ede9517484e3d
	pkgrel = 1
	url = https://github.com/themartiancompany/touchctl
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = libcrash-bash
	provides = touchctl=0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.r3.g830ea572a4e34052f7b5f675390ede9517484e3d
	conflicts = touchctl
	source = touchctl.tar.gz::https://github.com/themartiancompany/touchctl/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = touchctl-git
